html {
    height: 100%;
}

body {
    height: 100%;
}
/*

.center-content {
    display: flex;
}

*/

.base {
    display: flex;
    height: 100%;
    align-items: center;
}

.splash {
    background-image: url("img/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    flex: 1;
    height: min(100vh, 600px);

}

.content {
    flex: 2;
    height: min(100vh, 600px);
}