@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}

.base {
    display: flex;
    height: clamp(600px, 100vh, 1200px);
    align-items: center;
    justify-content: center;
    width: clamp(800px, 75vw, 1200px)
}

.splash {
    background-image: url("img/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex: 1;

    height: 100%

}

.content {
    
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    
    height: 100%;
    background-color: rgb(245, 245, 245);
    
}

.logo {
    position: relative;
    top: 12.5%;
    
    height: 20%;

    background-color: rgba(0, 0, 0, 0.4);

    font-family: "norsebold", sans-serif;
    color: antiquewhite;
    font-size: min(calc(2rem + 5vh), calc(2rem + 5vw));
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.intro,
.form,
.outro {
    padding: calc(0.5rem + 2vh) calc(0.5rem + 2vw);
}

.form {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 10px -3px #d3d2d2;
}

.row {
    display: flex;
    justify-content: flex-start;
    gap: 75px;
    flex: auto;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: min(calc(0.25rem + 2vh), calc(0.25rem + 2vw));
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: min(calc(0.25rem + 1.5vh), calc(0.25rem + 1.5vw));
}

img {
    width: auto;
    height: 50%;
}

label {
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: calc(0.5rem + 0.5vh);
    color: rgb(78, 78, 78);
    text-shadow: 0px 1px 1px rgb(192, 192, 192);
    font-weight: 600;
    letter-spacing: 0.075rem;
}

input,
textarea,
select {
    width: 250px;
}

input {
    display: block;
    border-style: solid;
    border-width: 0.1rem;
    border-color: rgb(240, 238, 238);
    border-radius: 3px;
    height: 1.75rem;
}

input:focus {
    outline: none;
    border: 2px solid #87b4e7;
    box-shadow: 2px 2px 4px #dddddd
}

input:not(:placeholder-shown):not(:focus):invalid,
input.error,
input.error:focus {
    outline: none;
    border: 2px solid #e03f3f;
}

p.error::after {
    content: "*Passwords do not match";
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(0.25rem + 1vh);
    color: #e03f3f;
    position: absolute;
    bottom: -2vh;
}

input.match,
input.match:focus {
    outline: none;
    border: 2px solid #69ce41;
    box-shadow: 2px 2px 4px #dddddd
}

.btn {
    background-color: #596D48;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 200px;
    padding: 15px 0;
    color: #e7e7e7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 2px 2px 5px #bdbcbc;
}

.btn:hover {
    background-color: #728a5d;
}

.btn:active {
    box-shadow: inset 2px 2px 5px #585858;
    color: #FFFFFF;
}

.btn:disabled {
    background-color: #8a8989;
    pointer-events: none;
}

p {
    padding: 0px;
    margin: 5px;
    position: relative;
}
